/********** APP MAIN STYLE **********/
/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  padding: 30px;
  font-size: 20px;
  text-align: center;
  background-image: url("../images/mountain.jpg");
}

img {
  max-height: 100%;
}

ul {
  list-style: none;
}

/* UTILITIES */
/* Layout */
.container {
  display: inline-block;
  height: 750px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

/* Buttons */
.link-button {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}
.link-button .button {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: #007bff;
  border-radius: 10px;
  transition: background-color 0.2s;
}
.link-button .button:hover {
  background-color: #073e79;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.pagination .page-item {
  margin: 0 10px;
}
.pagination .page-item a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
.pagination .page-item.disabled span {
  color: #888;
}

/* MAIN HEADER */
.main-header .header-title {
  margin-bottom: 20px;
  color: #011332;
  font-size: 3rem;
}
.main-header .header-title span {
  color: #0dd977;
}

/* HOME MAIN */
.home-main .welcome {
  margin: 0 150px;
}
.home-main .welcome .welcome-title {
  margin-bottom: 40px;
  font-size: 4rem;
}
.home-main .welcome img {
  height: 300px;
  margin-bottom: 80px;
}

/* TRAVELS MAIN */
.cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20px 90px;
}
.cards-wrapper .card {
  width: calc(20% - 20px);
  margin: 10px;
  padding: 15px 25px;
  background-color: #0dd97665;
  border-radius: 15px;
}
.cards-wrapper .card .price {
  color: #007bff;
  background-color: #0dd977;
  border-radius: 50%;
}
.cards-wrapper .card ul {
  text-align: left;
}