/* HOME MAIN */
.home-main{
    .welcome{
        margin: 0 150px;

        .welcome-title{
            margin-bottom: 40px;
            font-size: 4rem;
        }

        img{
            height: 300px;
            margin-bottom: 80px;
        }
    }
}